.header__content {
  width: 100%;
  min-width: 320px;
  height: 200px;
  background-color: #AD3491;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: white;
  }

  div {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    width: 40%;
    min-width: 320px;
  }

  .btn--login, .btn--signin{
    background-color: #3DADAB;
    color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    border: 3px solid #3DADAB;
  }
}

.main__content--forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  padding: 30px 0px;
  background-color: #FA63D8;

  .content__form--login {
    width: 70%;
    height: auto;
    margin: 30px 0px;
    border-radius: 7px;
    padding: 15px;
    background-color: white;
  }

  .content__form--signin {
    width: 70%;
    height: auto;
    margin: 30px 0px;
    border-radius: 7px;
    padding: 15px;
    background-color: white;
  }
}

form .form__login {
  display: flex;
  flex-direction: column;
}

span {
  color: #C0392B;
  font-style: italic;
  font-size: small;
}

.form__login--btn,  .form__signin--btn{
  background-color: #3DADAB;
  color: white;
  width: 80px;
  height: 30px;
  margin: 15px 0px 10px 5px;
  cursor: pointer;
  border-radius: 3px;
  border: 3px solid #3DADAB;
  &.active {
    opacity: 0.5;
  }
}

@media screen and (min-width: 720px) {

  .content--buttons .btn--login, .content--buttons .btn--signin {
    width: 150px;
    height: 50px;
  }

}
